@model AbsenceWebApp.Models.WorkGroupEmployee

@{
    ViewBag.Title = "AddWorkGroup";
}

<h2>Add Work Group to @Model.employee.Name</h2>

@using (Html.BeginForm("AddWorkGroup", "Employees", FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownListFor(model => model.WorkGroupId, new SelectList(Model.workGroups, "Id", "Name"), new { @class = "form-control" })
        @Html.HiddenFor(model => model.EmployeeId)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">add</button>
    </div>
}

