@model ITLab2_groupA.Models.EventModel

@{
    ViewBag.Title = "EventDetails";
}

<style>
    #container {
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 32px;
    }

    #container p{
        margin: 0;
    }

    .redText {
        color : red;
    }
</style>

<h2>Event details</h2>

<div id="container">
    <p>Event ID: <span class="redText">@Model.Id</span></p>
    <p>Event Name: <span class="redText">@Model.Name</span></p>
    <p>Event Location: <span class="redText">@Model.Location</span></p>
</div>

@Html.ActionLink("Back", "ShowEvents")



