
@{
    ViewBag.Title = "IndexAjax";
}

<h2>Index Albums - Ajax</h2>

<table id="tableAlbums">
    <thead>
        <tr>
            <td>Name</td>
            <td>Title</td>
            <td>Price</td>
            <td>Album cover</td>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#tableAlbums").DataTable({
                ajax: {
                    url: "api/Albums1",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name", render: function (settings, type, album) {
                            return "<a href='/Albums/Details/" + album.Id + ">" + album.Name + "</a>";
                        }
                    },
                    {data: "Title"},
                    {data: "Price"},
                    {
                        data: "AlbumCover", render: function (settings, type, album) {
                            return "<img src = '" + album.AlbumCover + "'/>";
                        }
                    }
                ]
            });
        })
    </script>
    }

