@model ITLab3_groupA.Models.PatientDoctor

@{
    ViewBag.Title = "AddPatient";
}

<h2>Add patient to doctor: @Model.doctor.Name</h2>

@using (Html.BeginForm("AddPatient", "Doctors", FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.PatientId, new SelectList(Model.patients, "Id", "Name"), new { @class = "form-control" })
        @Html.HiddenFor(m => m.DoctorId)
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add patient</button>
    </div>
}

